*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.email-index-section {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1fr 9fr;
    grid-template-areas: 
    "left-aside main-header right-aside"
    "left-aside main right-aside"
    ;
    /* height: 100%;
    width: 100%; */
    height: 100vh;
    width: 100vw;
}

.email-index-header{
    grid-area: main-header;

    /* display: flex;
    align-items: center;
    justify-content: flex-start; */
    background-color: #f2f6fc;


}

.email-index-left-aside{
    grid-area: left-aside ;
    grid-row: span 2 ;
    background-color: #f2f6fc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;

}
.email-index-left-aside-closed{
    grid-area: left-aside ;
    grid-row: span 2 ;
    background-color: #f2f6fc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:50px;
    gap: 40px;

}
.emails-list{
    grid-area: main;
    overflow-y: auto; 
    /* Enables vertical scrolling */
    /* padding: 10px; */
     /* Optional: Add padding for better spacing */

}

.email-index-right-aside{
    grid-area: right-aside;

    background-color: #f2f6fc;

}

.link-to-compose{
    display: flex;
    gap: 4px;
    height: fit-content;
    width: fit-content;
    background-color: #c2e7ff;
    border-radius: 10px;
    padding: 16px 12px 16px 12px;
}

.link-to-compose:hover{
 
    box-shadow: 2px 2px 2px 2px rgb(198, 201, 204);



}

.pen-icon{
    transform: rotate(270deg);

}

.logo-section{
    display: flex;
    align-items: center;

}
.menu-bar-icon{
    margin-top: 15px;
    margin-left: 15px;
}
