*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.sort-emails{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height:80px;


}

.sort-btn{
    display: flex;
    align-items: center;
    gap:8px;
    padding: 8px 8px 8px 8px;
    border-radius: 15px;
    background-color: white;
    border: 0.5px solid lightgray;

}

